## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'Country': ['Taiwan', 'Japan', 'USA', 'Spain', 'USA'],
        'Population': np.random.randint(1, 100, 5)*10e8}
df = pd.DataFrame(data)

In [3]:
df

  Country    Population
0  Taiwan  8.600000e+10
1   Japan  1.000000e+10
2     USA  3.100000e+10
3   Spain  3.400000e+10
4     USA  3.500000e+10

In [4]:
mostpop = df.Country[df.Population.idxmax()]
print (mostpop + ' has the largest population.')

Taiwan has the largest population.